name: Atualizador Automatico Nil All UFC

on:
  schedule:
    - cron: '0 13 * * 3' # Toda quarta-feira às 10h (Brasília)
  workflow_dispatch: # Botão manual

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Garante permissão de escrita
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Run scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add lutas.json
          git commit -m "Auto-update UFC stats" || echo "Sem mudanças"
          git push
